In [779]:
import openai

In [780]:
my_key = ""

In [781]:
openai.api_key = my_key

In [782]:
all_models = openai.models.list()

In [783]:
list(all_models)

[Model(id='gpt-4-turbo', created=1712361441, object='model', owned_by='system'),
 Model(id='gpt-4-turbo-2024-04-09', created=1712601677, object='model', owned_by='system'),
 Model(id='tts-1', created=1681940951, object='model', owned_by='openai-internal'),
 Model(id='tts-1-1106', created=1699053241, object='model', owned_by='system'),
 Model(id='chatgpt-4o-latest', created=1723515131, object='model', owned_by='system'),
 Model(id='dall-e-2', created=1698798177, object='model', owned_by='system'),
 Model(id='whisper-1', created=1677532384, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo-instruct', created=1692901427, object='model', owned_by='system'),
 Model(id='gpt-4o-2024-05-13', created=1715368132, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo', created=1677610602, object='model', owned_by='openai'),
 Model(id='gpt-3.5-turbo-0125', created=1706048358, object='model', owned_by='system'),
 Model(id='babbage-002', created=1692634615, object='model', owned_by='system'),
 Model(id='davinci-002', created=1692634301, object='model', owned_by='system'),
 Model(id='dall-e-3', created=1698785189, object='model', owned_by='system'),
 Model(id='gpt-4o-mini-2024-07-18', created=1721172717, object='model', owned_by='system'),
 Model(id='gpt-4o-2024-08-06', created=1722814719, object='model', owned_by='system'),
 Model(id='gpt-4o', created=1715367049, object='model', owned_by='system'),
 Model(id='gpt-4o-audio-preview-2024-10-01', created=1727389042, object='model', owned_by='system'),
 Model(id='gpt-4o-mini', created=1721172741, object='model', owned_by='system'),
 Model(id='gpt-4o-audio-preview', created=1727460443, object='model', owned_by='system'),
 Model(id='tts-1-hd', created=1699046015, object='model', owned_by='system'),
 Model(id='tts-1-hd-1106', created=1699053533, object='model', owned_by='system'),
 Model(id='gpt-4-1106-preview', created=1698957206, object='model', owned_by='system'),
 Model(id='text-embedding-ada-002', created=1671217299, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo-16k', created=1683758102, object='model', owned_by='openai-internal'),
 Model(id='text-embedding-3-small', created=1705948997, object='model', owned_by='system'),
 Model(id='text-embedding-3-large', created=1705953180, object='model', owned_by='system'),
 Model(id='gpt-4o-realtime-preview-2024-10-01', created=1727131766, object='model', owned_by='system'),
 Model(id='gpt-4o-realtime-preview', created=1727659998, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-1106', created=1698959748, object='model', owned_by='system'),
 Model(id='gpt-4-0613', created=1686588896, object='model', owned_by='openai'),
 Model(id='gpt-4-turbo-preview', created=1706037777, object='model', owned_by='system'),
 Model(id='gpt-4-0125-preview', created=1706037612, object='model', owned_by='system'),
 Model(id='gpt-4', created=1687882411, object='model', owned_by='openai'),
 Model(id='gpt-3.5-turbo-instruct-0914', created=1694122472, object='model', owned_by='system')]

In [784]:
import pandas as pd
pd.DataFrame(list(all_models),columns=["id","created","object","owned_by"])

,id,created,object,owned_by
0,"(id, gpt-4-turbo)","(created, 1712361441)","(object, model)","(owned_by, system)"
1,"(id, gpt-4-turbo-2024-04-09)","(created, 1712601677)","(object, model)","(owned_by, system)"
2,"(id, tts-1)","(created, 1681940951)","(object, model)","(owned_by, openai-internal)"
3,"(id, tts-1-1106)","(created, 1699053241)","(object, model)","(owned_by, system)"
4,"(id, chatgpt-4o-latest)","(created, 1723515131)","(object, model)","(owned_by, system)"
5,"(id, dall-e-2)","(created, 1698798177)","(object, model)","(owned_by, system)"
6,"(id, whisper-1)","(created, 1677532384)","(object, model)","(owned_by, openai-internal)"
7,"(id, gpt-3.5-turbo-instruct)","(created, 1692901427)","(object, model)","(owned_by, system)"
8,"(id, gpt-4o-2024-05-13)","(created, 1715368132)","(object, model)","(owned_by, system)"
9,"(id, gpt-3.5-turbo)","(created, 1677610602)","(object, model)","(owned_by, openai)"
10,"(id, gpt-3.5-turbo-0125)","(created, 1706048358)","(object, model)","(owned_by, system)"
11,"(id, babbage-002)","(created, 1692634615)","(object, model)","(owned_by, system)"
12,"(id, davinci-002)","(created, 1692634301)","(object, model)","(owned_by, system)"
13,"(id, dall-e-3)","(created, 1698785189)","(object, model)","(owned_by, system)"
14,"(id, gpt-4o-mini-2024-07-18)","(created, 1721172717)","(object, model)","(owned_by, system)"
15,"(id, gpt-4o-2024-08-06)","(created, 1722814719)","(object, model)","(owned_by, system)"
16,"(id, gpt-4o)","(created, 1715367049)","(object, model)","(owned_by, system)"
17,"(id, gpt-4o-audio-preview-2024-10-01)","(created, 1727389042)","(object, model)","(owned_by, system)"
18,"(id, gpt-4o-mini)","(created, 1721172741)","(object, model)","(owned_by, system)"
19,"(id, gpt-4o-audio-preview)","(created, 1727460443)","(object, model)","(owned_by, system)"
20,"(id, tts-1-hd)","(created, 1699046015)","(object, model)","(owned_by, system)"
21,"(id, tts-1-hd-1106)","(created, 1699053533)","(object, model)","(owned_by, system)"
22,"(id, gpt-4-1106-preview)","(created, 1698957206)","(object, model)","(owned_by, system)"
23,"(id, text-embedding-ada-002)","(created, 1671217299)","(object, model)","(owned_by, openai-internal)"
24,"(id, gpt-3.5-turbo-16k)","(created, 1683758102)","(object, model)","(owned_by, openai-internal)"
25,"(id, text-embedding-3-small)","(created, 1705948997)","(object, model)","(owned_by, system)"
26,"(id, text-embedding-3-large)","(created, 1705953180)","(object, model)","(owned_by, system)"
27,"(id, gpt-4o-realtime-preview-2024-10-01)","(created, 1727131766)","(object, model)","(owned_by, system)"
28,"(id, gpt-4o-realtime-preview)","(created, 1727659998)","(object, model)","(owned_by, system)"
29,"(id, gpt-3.5-turbo-1106)","(created, 1698959748)","(object, model)","(owned_by, system)"
30,"(id, gpt-4-0613)","(created, 1686588896)","(object, model)","(owned_by, openai)"
31,"(id, gpt-4-turbo-preview)","(created, 1706037777)","(object, model)","(owned_by, system)"
32,"(id, gpt-4-0125-preview)","(created, 1706037612)","(object, model)","(owned_by, system)"
33,"(id, gpt-4)","(created, 1687882411)","(object, model)","(owned_by, openai)"
34,"(id, gpt-3.5-turbo-instruct-0914)","(created, 1694122472)","(object, model)","(owned_by, system)"

CHAT Completion API

In [785]:
from openai import OpenAI
client = OpenAI(api_key = my_key)

In [786]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {
      "role": "user",
      "content": [
        {
          "type": "text",
          "text": "how to make money"
        }
      ]
    }
  ],
    max_tokens = 100,
    n = 3
)

In [787]:
type(response)

openai.types.chat.chat_completion.ChatCompletion

In [788]:
openai.types.chat.chat_completion.ChatCompletion

openai.types.chat.chat_completion.ChatCompletion

In [789]:
response.choices[0].message.content

'1. Get a job or start a career: This is the most common way people make money. Look for job opportunities in your field of interest or start a career in a lucrative industry.\n\n2. Start a side hustle: Consider starting a side business or freelance work to earn extra income. This could be anything from selling handmade goods, offering services like tutoring or pet sitting, or starting an online store.\n\n3. Invest in stocks or real estate: Investing in stocks or real estate can be a way'

In [790]:
import langchain

In [791]:
student_description = "sunny savita is a student of computer science at IIT delhi. He is an indian and has a 8.5 GPA. Sunny is known for his programming skills and is an active member of the college's A1 Club. He hopes to pursue a career in artificial intelligence after graduating."

In [792]:
student_description

"sunny savita is a student of computer science at IIT delhi. He is an indian and has a 8.5 GPA. Sunny is known for his programming skills and is an active member of the college's A1 Club. He hopes to pursue a career in artificial intelligence after graduating."

In [793]:
# A simple prompt to extratct information
prompt = f'''
Please extract the following information from the give text and return it as a JSON object:

name
college
grades
club

This is the body of text to extract  the information from:
{student_description}
'''

In [794]:
prompt

"\nPlease extract the following information from the give text and return it as a JSON object:\n\nname\ncollege\ngrades\nclub\n\nThis is the body of text to extract  the information from:\nsunny savita is a student of computer science at IIT delhi. He is an indian and has a 8.5 GPA. Sunny is known for his programming skills and is an active member of the college's A1 Club. He hopes to pursue a career in artificial intelligence after graduating.\n"

In [795]:
prompt

"\nPlease extract the following information from the give text and return it as a JSON object:\n\nname\ncollege\ngrades\nclub\n\nThis is the body of text to extract  the information from:\nsunny savita is a student of computer science at IIT delhi. He is an indian and has a 8.5 GPA. Sunny is known for his programming skills and is an active member of the college's A1 Club. He hopes to pursue a career in artificial intelligence after graduating.\n"

In [796]:
from openai import OpenAI
client = OpenAI(api_key = my_key)
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {
      "role": "user",
      "content": prompt
    }
  ]
)

In [797]:
output = response.choices[0].message.content

In [798]:
output

'{\n  "name": "sunny savita",\n  "college": "IIT delhi",\n  "grades": 8.5,\n  "club": "A1 Club"\n}'

In [799]:
import json
json.loads(output)

{'name': 'sunny savita',
 'college': 'IIT delhi',
 'grades': 8.5,
 'club': 'A1 Club'}

In [800]:
student_custom_function=[
    {
        'name': 'extract_student_info',
        'description': 'Get the student information from the body of the input text',
        'parameters':{
            'type': 'object',
            'properties':{
                'name': {
                    'type': 'string',
                    'description': 'Name of the person'
                },
                'college': {
                    'type': 'string',
                    'description': 'The college name.'
                },
                'grades':{
                    'type': 'integer',
                    'description': 'CGPA of the student.'
                },
                'club':{
                    'type': 'string',
                    'description': 'college club for extracurricular activities.'
                }
            }
        }
    }
]

In [801]:
student_custom_function_two=[
        {
            "name": "extract_student_info",
            "description": "Extracts student details like name, college, grades, and club.",
            "parameters": {
                "type": "object",
                "properties": {
                    "name": {"type": "string", "description": "The student's name"},
                    "college": {"type": "string", "description": "The student's college"},
                    "grades": {"type": "number", "description": "The student's grade point average"},
                    "program": {"type": "string", "description": "course of study"}
                },
                "required": ["name", "college"]
            }
        }
    ]

In [802]:
response2 = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[{ "role": "user","content": prompt}], 
      functions=[
        {
            "name": "extract_student_info",
            "description": "Extracts student details like name, college, grades, and club.",
            "parameters": {
                "type": "object",
                "properties": {
                    "name": {"type": "string", "description": "The student's name"},
                    "college": {"type": "string", "description": "The student's college"},
                    "career": {"type": "string", "description": "The student's career"},
                    "club": {"type": "string", "description": "Any club the student is involved in"}
                },
                "required": ["name", "college"]
            }
        }
    ]
)

In [803]:
print(response2)

ChatCompletion(id='chatcmpl-ANZdAAH2HuGGRpT0d8ykladG8N9Ye', choices=[Choice(finish_reason='function_call', index=0, logprobs=None, message=ChatCompletionMessage(content=None, refusal=None, role='assistant', audio=None, function_call=FunctionCall(arguments='{"name":"sunny savita","college":"IIT delhi"}', name='extract_student_info'), tool_calls=None))], created=1730181872, model='gpt-3.5-turbo-0125', object='chat.completion', service_tier=None, system_fingerprint=None, usage=CompletionUsage(completion_tokens=25, prompt_tokens=193, total_tokens=218, completion_tokens_details=CompletionTokensDetails(audio_tokens=None, reasoning_tokens=0), prompt_tokens_details=PromptTokensDetails(audio_tokens=None, cached_tokens=0)))

In [804]:
response2.choices[0].message

ChatCompletionMessage(content=None, refusal=None, role='assistant', audio=None, function_call=FunctionCall(arguments='{"name":"sunny savita","college":"IIT delhi"}', name='extract_student_info'), tool_calls=None)

In [805]:
json.loads(response2.choices[0].message.function_call.arguments)

{'name': 'sunny savita', 'college': 'IIT delhi'}

In [806]:
student_description = "sunny savita is a student of computer science at IIT delhi. He is an indian and has a 8.5 GPA. Sunny is known for his programming skills and is an active member of the college's A1 Club. He hopes to pursue a career in artificial intelligence after graduating."

In [807]:
student_description_2 = "Michael is a student of computer science at Bluefield. He is a Ghanaian and has a 9.5 GPA. Michael is known for his programming skills and is an active member of the college's CS Club. He hopes to pursue a career in artificial intelligence after graduating."

In [808]:
student_description_3 = "Kelvin is a student of computer science at Yale. He is a Ghanaian and has a 9.0 GPA. Kelvin is known for his programming skills and is an active member of the college's CS Club. He hopes to pursue a career in artificial intelligence after graduating."

In [809]:
student_info = [student_description,student_description_2,student_description_3]
for student in student_info:
    response = client.chat.completions.create(
        model = "gpt-3.5-turbo",
        messages = [{'role':'user','content': student}],
        functions = student_custom_function,
        function_call = 'auto'
    )
    response = json.loads(response.choices[0].message.function_call.arguments)
    print(response)

{}
{'name': 'Michael', 'college': 'Bluefield', 'grades': 9.5, 'club': 'CS Club'}
{'name': 'Kelvin', 'college': 'Yale', 'grades': 9, 'club': 'CS Club'}

# Including two functions

In [810]:
functions = [student_custom_function[0], student_custom_function_two[0]]
student_info = [student_description,student_description_2,student_description_3]
for student in student_info:
    response = client.chat.completions.create(
        model = "gpt-3.5-turbo",
        messages = [{'role':'user','content': student}],
        functions = functions,
        function_call = 'auto'
    )
    response = json.loads(response.choices[0].message.function_call.arguments)
    print(response)

{'name': 'sunny savita', 'college': 'IIT delhi', 'grades': 8.5, 'program': 'computer science'}
{'name': 'Michael', 'college': 'Bluefield', 'grades': 9.5, 'program': 'computer science'}
{'name': 'Kelvin', 'college': 'Yale', 'grades': 9.0, 'program': 'Computer Science'}

# Advance example of function calling
Function calling helps us to connect large language models to external tools

In [811]:
function_descriptions=[
        {
            "name": "get_flight_info",
            "description": "Get flight information",
            "parameters": {
                "type": "object",
                "properties": {
                    "loc_origin": {"type": "string", "description": "The departure airport"},
                    "loc_destination": {"type": "string", "description": "The destination airport"}
                },
                "required": ["loc_origin", "loc_destination"]
            }
        }
    ]

In [812]:
user_prompt = "When's the next flight from Accra to USA"

In [813]:
    response4 = client.chat.completions.create(
        model = "gpt-3.5-turbo",
        messages = [{'role':'user','content': user_prompt}],
        functions = function_descriptions,
        function_call = 'auto'
    )
    response4 = json.loads(response4.choices[0].message.function_call.arguments)
    print(response)

{'name': 'Kelvin', 'college': 'Yale', 'grades': 9.0, 'program': 'Computer Science'}

# CREATING A DUMMY API

In [814]:
def get_flight_info(loc_origin,loc_destination):
    flight_info = {
        "loc_origin":loc_origin,
        "loc_destination": loc_destination,
        "datetime": str(datetime.now() + timedelta(hours=2)),
        "airline": "United",
        "flight": "AMP56"
    }
    return json.dumps(flight_info)

In [815]:
params = json.loads(response4.choices[0].message.function_call.arguments)

AttributeError: 'dict' object has no attribute 'choices'